body {
  font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Arial, Helvetica, sans-serif;
  color: ivory;
  background-color: darkslategray;
}

div a {
  color: ivory;
}

div.stations {
  font-size: 48px;
  font-weight: bold;
  line-height: 200%;
}

div.stations a {
  font-size: inherit;
  background-color: yellow;
  text-decoration: none;
  color: black;
  padding: 0.3em 0.3em 0.3em 0.3em;
}

td.station {
  text-align: center;
}

.station a {
  font-weight: bold;
  background-color: yellow;
  text-decoration: none;
  color: black;
  padding: 0 0.2em;
}

.train a {
  background-color: silver;
  text-decoration: none;
  color: navy;
  padding: 0 0.2em;
}

.fresh {
  background-color: palegreen
}

.recent {
  background-color: yellow
}

.stale {
  background-color: sandybrown
}

.dead {
  background-color: red
}

table.timetable {
  border-collapse: collapse;
}

table.timetable td {
  border: 1px solid;
}
