body {
    font-family: Georgia, serif;
}

table {
    margin-bottom: 1em;
    border-collapse: collapse;
}

td.Ankomst {
    border-left: thin solid;
    border-right: thin solid;
    border-top: thin solid;
    border-bottom: none;
}

td.Avgang {
    border-left: thin solid;
    border-right: thin solid;
    border-top: none;
    border-bottom: thin solid;
}

caption {
    font-weight: bold
}

.actual {
    font-weight: bold
}

div.west {
    text-align: left;
}

div.central {
    text-align: center;
}

div.east {
    text-align: right;
}

div.delay0 { color: #0f0; } 
div.delay1 { color: #fff; } 
div.delay2 { color: #ff0; } 
div.delay4 { color: #f80; }
div.delay8 { color: #f00; }
